.container-loginside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 16px;
  padding-top: 8vh;
  padding-bottom: 8vh;
  height: 100vh;
  touch-action: none;
  overscroll-behavior: contain;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.emailbox,
.passwordbox,
.usernamebox {
  border-radius: 20px;
  width: 100%;
  height: max(6vh, 24px);
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0px 12px;
  font-size: 4vw;
}

.formcontainer h4 {
  color: #000;
  font-family: "New-Zen";
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-loginside h2 {
  color: #000;
  text-align: center;
  font-family: "new-zen", sans-serif;
  font-size: 10vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.registrerbruger {
  color: #000;
  font-family: "new-zen", sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.regknap {
  border: none;
  background-color: transparent;
  color: blue;
  text-decoration: underline;
  font-family: "new-zen", sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.loginknap {
  margin-top: 6vh;
  border-radius: 20px;
  background: var(--bl, #0eb7de);
  padding: 2.5vh 0px;
  /* skygge */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "new-zen", sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.emailbox,
.passwordbox,
.usernamebox {
  font-size: max(
    4vw,
    16px
  ) !important; /* Keeps responsive size but ensures minimum */
}
